<app-hijo
(EventoMensaje)="recibirMensaje($event)"
(EventoMensaje2)="recibirSegundo($event)"
(EventoMensaje3)="recibirTercer($event)"
(EventoMensaje4)="recibirCuarto($event)"
(EventoMensaje5)="recibirQuinto($event)"
>
</app-hijo>
<div>
  <h4>
    Primera @Output de  Hijo a: {{ mensajePadre }}
  </h4>
  <h4>
    Segundo @Output de  Hijo a: {{ SecondMessage }}
  </h4>
  <h4>
    Tercer @Output de  Hijo a: {{ thirdMessage }}
  </h4>
  <h4>
    Cuarto @Output de  Hijo a: {{ fourthMessage }}
  </h4>
  <h4>
    Quinto @Output de  Hijo a: {{ fifthMessage }}
  </h4>
</div>